<!DOCTYPE HTML>
<html>
	<header>
		<p id="calliope">Calliope</p>
		<div id='cssmenu'>
			<ul>
				<li><a href='{% url 'index' %}'><span>Home</span></a></li>
				<li class='active'><a href='{% url 'about' %}'><span>About us</span></a></li>
				<li><a href='{% url 'info' %}''><span>Information</span></a></li>
				<li class='last'><a href='{% url 'contact' %}'><span>Contact</span></a></li>
			</ul>
		</div>
	</header>
	<head>
		<link rel="stylesheet" href="/static/page_styling.css">
	</head>
	<body>
		<div id="background"></div>
		<div id="Kanev" class="text_field">
			<p class="title">Христо Канев</p>
			<p class="text">Аз съм на 17г. 
				Живея в град Хасково. 
				Уча в 11Б клас в ПМГ"Акад. Боян Петканчин". 
				Занимавам се с програмиране от 8ми клас. 
				Повечето проекти и алгоритми можете да намерите в Github-а ми на страницата с контакти.
			<p>
		</div>
		<div id="Todorov" class="text_field">
			<p class="title">Христо Тодоров</p>
			<p class="text">Информацията ти тук!!!</p>
		</div>
	</body>
</html>