{% extends 'base_layout.html' %}
{% block content %}
<div id="logo-generator">

	<div id="top-blank-space">
	</div>
	<form action="#" class="main">
			<a href="{% url 'generate_logo' %}">
				<input type="button" value="Generate">
			</a>
		<div class="button-blank-space">
		</div>
		<a href="{% url 'complement_image' %}">
			<input type="button" value="Complement">
		</a>
		<div class="button-blank-space">
		</div>
		<a href="{% url 'save_logo' %}">
			<input type="button" value="Save">
		</a>
	</form>
	<div class="generated-image">
		<img src="{{ image_path }}" class="main" id="output">
	</div>
	<div id="bottom-blank-space">
	</div>
</div>
{% endblock %}