<!DOCTYPE html>
<html lang="bg">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index_styling.css">
    <meta name="keywords" content="calliope, artificial intelligence, logo, creator, art">
    <meta name="application-name" content="meetify">
    <meta name="authors" content="hristo todorov, hristo kanev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Calliope</title>
</head>
<body>
<header>
<a href="#default" class="logo">Calliope</a>
  <div class="header-right">
    <a href="">HOME</a>
    <a href="/login">SIGN IN / SIGN UP</a>
  </div>
</header>
<div class="content">
<div class="bs">
</div>
<div class="headerbg">
        <div id="bs">
        </div>
        <h1>CALLIOPE</h1>
        <h2>Create your unique logo(s)</h2>
        <div class="center-btn">
        <a href="/login">
        <button class="platform-btn" name="platform-btn">Go to the platform</button>
        </a>
        </div>
</div>
<div class="footer-bs">
</div>
<footer>
    <p>Copyright &copy; 2020 | All Rights Reserved</p>
</footer>
</div>
</body>
</html>