<!DOCTYPE HTML>
<html>
	<header>
		<p id="calliope">Calliope</p>
		<div id='cssmenu'>
			<ul>
				<li><a href='{% url 'index' %}'><span>Home</span></a></li>
				<li><a href='{% url 'about' %}'><span>About us</span></a></li>
				<li class='active'><a href='{% url 'info' %}''><span>Information</span></a></li>
				<li class='last'><a href='{% url 'contact' %}'><span>Contact</span></a></li>
			</ul>
		</div>
	</header>
	<head>
		<link rel="stylesheet" href="/static/page_styling.css">
	</head>
	<body>
		<div id="background"></div>
		<div id="info_box" class="text_field">
			<p class="text" id="info">
				В основата на предложеното от нас решения стоят генеративните състезателни мрежи(Generative adversarial networks). Те се състоят от 2 компонента: Художник(Artist) и Discriminator(Критик). Целта на Художника е да се опитва да генерираколкото се може по-правдоподобни изображения, а на Критика еда   може   да   различава   едно   изображение   генерирано   от Художника(фалшиво),   от   едно   истинско   изображение. Критикът най-често е конволюционна мрежа.
			</p>
			<p class="text" id="info">
				Най-популярната архитектура за генеративни състезателни мрежи е DCGAN (Deep Convolutional Generative Adversarial Network), но напоследък все по-често се предпочита използването на WGAN( Wasserstein Generative Adversarial Networks). Разликата между двете  се състои в loss функцията и други много малки промени в архитектурата на Критика.
			</p>
			<p class="text" id="info">
				За повече информация моля погледнете разширената ни документация <a id="documentation" href="https://pmghaskovo-my.sharepoint.com/:w:/r/personal/hristokanev02_pmg-haskovo_org/_layouts/15/Doc.aspx?sourcedoc=%7B02F46D36-8212-46DE-819F-B50CD25DC7A6%7D&file=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F%20-%20Calliope.docx&action=default&mobileredirect=true">тук</a>.
			</p>
		</div>
	</body>
</html>