{% extends 'base_layout.html' %}
{% block content %}
        <div class="logo-list">
        {% for logo in logos %}
        <div class="logo-container">
       <img src="/media/{{ logo.image }}" width="128px" height="128px">
         <div class="fadedbox">
             <a href="/media/{{ logo.image }}" download>
                <button id="download-btn">Download</button>
            </a>
             <br>
            <a href="delete/id={{ logo.id }}">
                <button id="delete-btn">Delete</button>
            </a>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
