body{
  background-image: url("background.png");
  background-repeat: no-repeat;
  margin: 0;
}
form{
  position: absolute;
  left: 30%;
  margin-top: 200px;
  float: left;
  width: 11%;
  overflow: hidden;
}
div.row{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
#output{
  position: absolute;
  right: 30%;
  margin-top: 250px;
  float: right;
  width: 11%;
  overflow: hidden;
  width: 128px;
  height: 128px;
}
.main{
  margin-top: 200px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-style: groove;
  border-radius: 10px;
}
.input{
  background: transparent;
}
.custom_image_upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 40px;
  cursor: default;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-style: groove;
}
input[type=submit]{
  margin-left: 40px;
}
input[type=text]{
  width: 100px;
}
input[type=file]{
  display: none;
}
h1{
  text-align: center;
  margin-top: 150px;
  transform: scale(3);
  color: rgba(122, 122, 122, 0.4);
}
@import url(http://fonts.googleapis.com/css?family=Capriola);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
  background: rgba(105, 105, 105, 0.863);
  top: 0;
  height: 63px;
  width: 50%;
  left:25%;
  position: absolute;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
  height: 10px;
  background: #0f71ba;
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;
  background: url('images/bg.png');
}
#cssmenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('images/bg.png');
}
#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  float: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  background: url('images/bg.png');
  color: #ffffff;
}
li{
  width: 25%;
  text-align: center;
}
#text{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  margin-top: 150px;
  background: rgba(105, 105, 105, 0.2);
}
#Kanev{
  position: absolute;
  width: 15%;
  height: 25%;
  left: 25%;
  margin-top: 150px;
  background: rgba(105, 105, 105, 0.2);
}
#Todorov{
  position: absolute;
  width: 15%;
  height: 25%;
  right: 25%;
  margin-top: 150px;
  background: rgba(105, 105, 105, 0.2);
}
.text{
  text-align: center;
  margin-top: 10px;
  transform: scale(1.5);
  color: white;
  text-shadow: 1px 1px black;
  font-size: 15px;
  font-family: Capriola, Helvetica, sans-serif;
  overflow-wrap: break-word;
}