body{
  background-image: url("background.png");
  background-repeat: no-repeat;
}
form{
  margin-left: 600px;
  margin-top: 200px;
  float: left;
  width: 11%;
  overflow: hidden;
}
div.row{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
#output{
  padding-top: 230px;
  float: right;
  margin-right: 600px;
  width: 11%;
  overflow: hidden;
}
img{
  width: 128px;
  height: 128px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-style: groove;
  border-radius: 10px;
}
.input_data{
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-style: groove;
  border-radius: 10px;
}
.input{
  background: transparent;
}
.custom_image_upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 40px;
  cursor: default;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-style: groove;
}
input[type=submit]{
  margin-left: 40px;
}
input[type=text]{
  width: 100px;
}
input[type=file]{
  display: none;
}
h1{
  text-align: center;
  margin-top: 100px;
  transform: scale(3);
  color: rgba(0, 0, 0, 0.4);
}
footer{
  position: fixed;
  bottom: 0;
  width: 99%;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.left{
  float: left;
  overflow: hidden;
}